<h2>List of Pizzas:</h2>
{{#each pizzasArr}}
    <ul>
        
            <li>{{title}}</li>
            <li>{{price}}</li>
            <img src="/images/{{imageFile}}">
            <hr />
        
    </ul>
{{/each}}